html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

.main {
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
}